
@{
    ViewData["Title"] = "WorkIndex";
}

<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">首页</a>
        </li>

        <li>
            <a href="#">系统管理</a>
        </li>
        <li class="active">资源管理</li>
    </ul><!-- /.breadcrumb -->
    <!-- #section:basics/content.searchbox -->
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div id="enterprisetools">
                    <div>
                        <div class="widget-box ui-sortable-handle ">
                            <div class="widget-header">
                                <h5 class="widget-title">查询区</h5>

                                <!-- #section:custom/widget-box.toolbar -->
                                <div class="widget-toolbar">

                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>
                                </div>
                                <!-- /section:custom/widget-box.toolbar -->
                            </div>

                            <div class="widget-body" id="selectbox">
                                <div class="widget-main">
                                    <table style="border-spacing:10px;  border-collapse:separate;" width="100%">
                                        <tr>
                                            <td>资源名：</td>
                                            <td>
                                                <input type="text"
                                                       class="input-sm"
                                                       name="txt_slbh"
                                                       v-model="Node_abbre" />
                                            </td>
                                            <td>资源内容：</td>
                                            <td>
                                                <input type="text"
                                                       class="input-sm"
                                                       name="txt_xfr"
                                                       v-model="Node_href" />
                                            </td>
                                            <td>资源类型：</td>
                                            <td>
                                                <select id="txt_zycd"
                                                        name="txt_zycd"
                                                        class="input-sm"
                                                        v-model="Node_type">
                                                    <option value="">请选择</option>
                                                    <option value="true">节点资源</option>
                                                    <option value="false">入口资源</option>
                                                    <option value="false">页面资源</option>
                                                </select>
                                            </td>
                                            <td>是否有效：</td>
                                            <td>
                                                <select id="txt_zycd"
                                                        name="txt_zycd"
                                                        class="input-sm"
                                                        v-model="NodeValid">
                                                    <option value="">请选择</option>
                                                    <option value="true">有效</option>
                                                    <option value="false">无效</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="text-align:right">
                                                <button class="btn btn-primary btn-xs btn-round" v-on:click="selectuser">
                                                    <i class="ace-icon fa fa-search align-top bigger-125"></i>
                                                    查询
                                                </button>
                                                <button class="btn btn-success btn-xs btn-round" onclick="showdialog()">
                                                    <i class="ace-icon fa fa-plus-square align-top bigger-125"></i>
                                                    添加
                                                </button>
                                                <button class="btn btn-yellow btn-xs btn-round" onclick="showUpdatadialog()">
                                                    <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
                                                    编辑
                                                </button>
                                                <button class="btn btn-danger btn-xs btn-round" onclick="deleteUser()">
                                                    <i class="ace-icon fa fa-trash align-top bigger-125"></i>
                                                    删除
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="@(ViewBag.guid == "" ? "" : ViewBag.guid)" name="guid">
                    </div>
                    <!-- /section:basics/content.searchbox -->
                </div>
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>
<!--Dialog-->

<div id="dialog" class="form-horizontal">
    <div class="col-xs-12 form-group">
        <label class="col-xs-4 control-label"> 资源名: </label>
        <div class="col-xs-8">
            <input type="text"
                   v-model="Model.Node_abbre"
                   :disabled="isDisabled"
                   datatype="*"
                   errormsg="请输入资源名!"
                   nullmsg="请输入资源名!" />
        </div>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4 control-label"> 资源内容: </label>
        <div class="col-xs-8">
            <input type="text"
                   v-model="Model.Node_href"
                   :disabled="isDisabled"
                   datatype="*"
                   errormsg="请输入资源内容！"
                   nullmsg="请输入资源内容！" />
        </div>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4 control-label"> 资源类型: </label>
        <div class="col-xs-8">
            <span class="block input-icon input-icon-right">
                <select class="input-sm"
                        v-model="Model.Node_type"
                        :disabled="isDisabled"
                        errormsg="请选择资源类型!"
                        nullmsg="请选择资源类型!"
                        datatype="*">
                    <option value="">请选择</option>
                    <option value="0">节点资源</option>
                    <option value="1">入口资源</option>
                    <option value="2">页面资源</option>
                </select>
            </span>
        </div>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4 control-label"> 上级资源: </label>
        <div class="col-xs-8">
            <select class="input-lg"
                    id="UpSelect"
                    v-select2=""
                    v-model="Model.Upperid"
                    :disabled="isDisabled">
                <option value="">请选择</option>
                <option value="true">入口资源</option>
                <option value="false">页面资源</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 form-group">
        <label class="col-xs-4 control-label"> 是否有效: </label>
        <div class="col-xs-8">
            <input name="switch-field-1"
                   class="ace ace-switch ace-switch-6"
                   type="checkbox"
                   v-model="Model.NodeValid"
                   :disabled="isDisabled">
            <span class="lbl"></span>
        </div>
    </div>
    <div class="col-xs-12 form-group" style="text-align:center">
        <button class="btn btn-yellow btn-sm btn-round" v-on:click="updateusr" v-if="isupdate" v-show="!isDisabled">
            <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
            编辑
        </button>
        <button class="btn btn-success btn-sm btn-round" v-on:click="adduser" v-else v-show="!isDisabled">
            <i class="ace-icon fa fa-plus"></i>
            添加
        </button>
        <button class="btn btn-danger btn-sm btn-round" v-on:click="close">
            <i class="ace-icon fa fa-close"></i>
            取消
        </button>

    </div>
</div>
@section scripts{

    <script type="text/javascript">
    var dialogVue;
    var dialogValidform;
    var selectVue;

    jQuery(function ($) {
        loadGrid();
        LoadVue();
        LoadDialog();
        $('#UpSelect').select2({
            ajax: {
                url: '@Url.Action( "SelectWorknodes", "Worknode")',
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (data, params) {
                    
                    /*var itemList = [];//当数据对象不是{id:0,text:'ANTS'}这种形式的时候，可以使用类似此方法创建新的数组对象
                    var arr = data.result.list
                    for(item in arr){
                        itemList.push({id: item, text: arr[item]})
                    }*/
                    return {
                        results: data//itemList
                    };
                },
                cache: true,
                placeholder: '请选择',//默认文字提示
                language: "zh-CN",
                minimumInputLength: 1//最少输入多少个字符后开始查询
            }
        });
        dialogValidform = $("#dialog").Validform({
            tiptype: 3,
        });
    });

    //双向绑定数据
    function LoadVue() {
        dialogVue = new Vue({
            el: '#dialog',
            data: function () {
                return {
                    Model: {
                        ID:'',
                        Upperid: '',
                        Node_abbre: '',
                        Node_href: '',
                        Node_type: '',
                        NodeValid: true
                    },
                    isDisabled: false,
                    isupdate: false
                }
            },
            methods: {
                adduser: function () {
                    var ok = dialogValidform.check();
                    if (!ok) {
                        return;
                    }
                    var userd = this;
                    $.post("@Url.Action("AddWorknode", "Worknode")", { user: userd._data.Model }, function (data) {
                        if (data == 0) {
                            //Object.assign(userd.$data, userd.$options.data());
                            //dialogValidform.resetval()
                            $("#grid-table").trigger("reloadGrid");
                            $("#dialog").dialog("close");
                        }
                    })
                },
                updateusr: function () {

                    var ok = dialogValidform.check();
                    if (!ok) {
                        return;
                    }
                    var userd = this;
                    $.post("@Url.Action("UpdateWorknode", "Worknode")", { user: userd._data.Model }, function (data) {
                        if (data == 0) {

                            $("#grid-table").trigger("reloadGrid");
                            $("#dialog").dialog("close");
                        }
                    })
                },
                close: function () {
                    $("#dialog").dialog("close");
                }
            }
        });

        selectVue =  new Vue({
            el: '#selectbox',
             data: function () {
                 return {
                     Node_abbre: '',
                     Node_href: '',
                     Node_type: '',
                     NodeValid: ''
                 }
             },
            methods: {
                selectuser: function () {
                    var userd = this;
                    $("#grid-table").jqGrid('setGridParam', {
                        datatype: 'json',
                        mytype: "post",
                        postData: { Loginname: userd.Loginname, Name: userd.Name, ValidYN: userd.ValidYN }, //发送数据
                        page: 1
                    }).trigger("reloadGrid"); //重新载入
                }
            }
        })

    }
    function deleteUser() {
        var ids = $("#grid-table").jqGrid('getGridParam', 'selarrrow');
        rows = [];
        if (ids.length < 1) {
            layer.alert("请选择一行数据!", { icon: 5 });
            return;
        }
        for (var i = 0; i < ids.length; i++) {
            var id = ids[i];
            rows.push($('#grid-table').jqGrid('getRowData', id).ID);
        }
        layer.confirm('删除后不可修复,确定要删除数据?', {
            btn: ['删除', '取消'] //按钮
        }, function () {
            $.post('@Url.Action("RomeWorknode", "Worknode")', { ids: rows }, function () {
                $("#grid-table").trigger("reloadGrid");
            });
        });

    }


           //初始化Grid
    function loadGrid() {
        $("#grid-table").jqGrid(
            {
                autowidth: true,
                multiselect: true,//是否可以多选
                url: '@Url.Action("WorknodeSelect", "Worknode")',//组件创建完成之后请求数据的url
                height: 'auto',
                datatype: "json",//请求数据返回的类型。可选json,xml,txt
                colNames: ['id', '资源名称', '资源内容', '资源类型','是否有效', '查看详情'],//jqGrid的列显示名字
                colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式

                    { name: 'ID', index: 'ID', width: 60, sorttype: "int", hidden: true },
                    { name: 'Node_abbre', index: 'Node_abbre', width: 90 },
                    { name: 'Node_href', index: 'Node_href', width: 150, },
                    {
                        name: 'Node_type', index: 'Node_type', width: 150, sortable: false, formatter: function (cellvalue, options, rowObject) {
                            var temp = "节点资源"
                            if (cellvalue==2) {

                                temp = "入口资源"
                            }
                            if (cellvalue == 3) {

                                temp = "页面资源"
                            }
                            return temp;
                        }
                    },
                    {
                        name: 'NodeValid', index: 'ValidYN', width: 90, formatter: function (cellvalue, options, rowObject) {
                            var temp = "有效"
                            if (cellvalue == 'false') {

                                temp = "无效"
                            }
                            return temp;
                        }
                    },
                    {
                        name: '查看', index: '查看', width: 90, formatter: function (cellvalue, options, rowObject) {
                            var html = '<button class="btn btn-success btn-xs btn-round" onclick="showSelectdialog(' + rowObject.ID+')"><i class="ace-icon fa fa-search-plus"></i>查看详情</button>';
                            return html;
                        }
                    }

                ],
                rowNum: 10,//一页显示多少条
                rowList: [10, 20, 30],//可供用户选择一页显示多少条
                pager: '#grid-pager',//表格页脚的占位符(一般是div)的id
                sortname: 'ID',//初始化的时候排序的字段
                sortorder: "desc",//排序方式,可选desc,asc
                mtype: "get",//向后台请求数据的ajax的类型。可选post,get
                viewrecords: true,
                caption: "用户列表"//表格的标题名字
            });
    }

    //初始化Dialog
    function LoadDialog() {
        $("#dialog").dialog({
            title: "编辑",
            autoOpen: false,
            height: 400,
            width: 400,
            autoOpen: false,
            close: function () {
                Object.assign(dialogVue.$data, dialogVue.$options.data());
                dialogValidform.resetval();
            }
        });
    }

    function showdialog() {
        dialogVue.isupdate = false;
        $("#dialog").dialog("open");
    }
    function showUpdatadialog() {
        var ids = $("#grid-table").jqGrid('getGridParam', 'selarrrow');
        if (ids.length != 1) {
            layer.alert("请选择一行数据!", { icon: 5 });
            return;
        }
        var id = $('#grid-table').jqGrid('getRowData', ids[0]).ID;
        dialogVue.isupdate = true;
        $.get('@Url.Action("SelectWorknodeModel", "Worknode")', { id: id }, function (date) {
            dialogVue.Model = date;
        })
        $("#dialog").dialog("open");
    }
    function showSelectdialog(id) {

        $.get('@Url.Action("SelectWorknodeModel", "Worknode")', { id: id }, function (date) {
            dialogVue.Model = date;
            dialogVue.isDisabled = true;
        })
        $("#dialog").dialog("open");

    }
    </script>

}
